li {
  list-style: none;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
  color: #31d2f2;
}
a:hover {
  text-decoration: underline;
}
.weather-app {
  max-width: 600px;
  box-shadow: -1px 20px 100px 3px rgb(220, 238, 234);
  border-radius: 10px;
  padding: 40px;
  display: block;
  margin: auto;
}
.container {
  margin: 30px auto;
}
.links {
  text-align: center;
  margin-top: 50px;
}
.degree {
  display: inline;
}

.temperature {
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
  color: #212121;
  font-size: 60px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -25px;
}
.weather-desc {
  margin-left: 10px;
  font-size: 20px;
}
.pic {
  width: 130px;
  position: relative;
  top: -25px;
  left: -28px;
}

.pink-text {
  color: rgb(233, 48, 147);
}
.forcast {
  margin-top: 20px;
}
.forcast-date {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.6;
}
.forcast-img {
  display: block;
  margin: auto;
}
.forecast-temp {
  text-align: center;
  font-size: 18px;
}
.forcast-min {
  opacity: 0.3;
}
