li {
  list-style: none;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.weather-app {
  max-width: 60%;
  border: solid 1px rgb(199, 198, 198);
  border-radius: 5px;
  padding: 40px;
  display: block;
  margin: 30px auto;
}
.links {
  text-align: center;
  margin-top: 50px;
}
.degree {
  display: inline;
}

.temperature {
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
  color: #212121;
  font-size: 60px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -25px;
}
.weather-desc {
  margin-left: 10px;
  font-size: 20px;
}
.pic {
  width: 130px;
  position: relative;
  top: -25px;
}
